.table td,
.table tr {
  text-align: center;
}

.iconSort.desc {
  transform: rotate(270deg);
}

.iconSort.asc {
  transform: rotate(90deg);
}

.actionsCell {
  padding-left: 20px !important;
  padding-right: 20px !important;
  width: 130px;
}

.paginationContainer {
  width: 200px;
}

.arrowIconPagination {
  filter: invert(62%) sepia(74%) saturate(1028%) hue-rotate(166deg) brightness(102%) contrast(107%);
}

.previousArrow {
  border-right: 1px solid #dcdcdc;
}

.nextArrow {
  border-left: 1px solid #dcdcdc;
}

.dropdownMenu, .dropdownMenuSelectedFilter {
  background-color: white;
  z-index: 99;
}

.dropdownMenu {
  width: 250px;
}

.filterCard, .filterItem {
  transition: background-color 0.1s linear;
}

.filterCardActive, .filterCard:hover {
  background-color: #f4f4f4;
}

.filterCardActive {
  border: 1px solid #b0b2b5;
}

.filterItem:hover, .filterItemSelected {
  background-color: #e5effb;
}

.dropdownMenuSelectedFilter {
  left: 250px;
  width: 350px;
}