.column {
  margin-top: 7rem;
  color: black;
}

.img {
  width: 20rem;
  height: 20rem;
  padding-right: 0.5rem;
  display: flex;
  color: black;
}
.tag {
  padding-right: 3rem;
  margin-top: 1rem;
  width: 21rem;
  height: 21rem;
  text-decoration: none;
  margin-left: auto;
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-right: 1px solid #f0f0f0;
  border-radius: 1px;
}
.tag:hover {
  background-color: #e0e0e0;
  color: #555555;
  cursor: pointer;
  border-radius: 10px;
}
