.DRIVER {
    background-color: #c4c4c4;
}

.REPORT_PROBLEM {
    background-color: greenyellow;
}

.REPAIR_REQUEST {
    background-color: green;
}

.WORKSHOP {
    background-color: hotpink;
}

.EXPIRATION_FILE {
    background-color: yellow;
    color: black;
}
