.container {
  width: 20rem;
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.4rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  background-color: #ffffff;
}
.background {
  background-color: #ebebeb;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.button {
  margin-top: 0.5rem;
  background-color: #006699;
  border-color: #006699;
}
.logo {
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkDiv {
  margin-top: 1rem;
  color: #006699;
  text-decoration: none;
  margin-left: auto;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
