.navMenu {
  background-color: #fcfcfc;
  height: 100vh;
  position: fixed;
  padding-left: 15px;
  padding-right: 15px;
}

.navItems {
  list-style-type: none;
  margin-top: 50px;
}

.navItem {
  color: inherit;
  text-decoration: inherit;
  display: flex;
  align-items: center;
}

.arrowIcon {
  margin-left: auto;
}

.activeNavItem .navItem {
  color: #0a58ca;
}

.liActive::before {
  content: "";
  position: absolute;
  margin-top: 4px;
  height: 16px;
  width: 4px;
  background: #0052CC;
  border-radius: 0px 2px 2px 0px;
}

.navItemIcon {
  height: 16px;
  width: 16px;
}

.navItem:hover .navItemIcon {
  filter: invert(25%) sepia(95%) saturate(1530%) hue-rotate(197deg) brightness(98%) contrast(97%);
}

.activeNavItem .navItemIcon {
  filter: invert(23%) sepia(90%) saturate(1780%) hue-rotate(205deg) brightness(94%) contrast(105%);
}

.navItemArrow {
  width: 16px;
  height: 16px;
  transition: all;
  transition-duration: 350ms;
}

.navItemArrowRotated {
  transform: rotate(90deg);
}

.activeNavItem {
  background-color: #e5effb;
}