.button {
  border: none;
  border-radius: 50px;
  padding: 10px;
}

.button, .button:hover {
  background-color: #2F4ADA;
}

.button:disabled,
.button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}